/*
 * COLORS
 */
 
.noBg {
 	background-color: transparent !important; 
}

/* red */
.color-1 {
	background-color: #e53935;
}

.color-1.dark {
	background-color: #c62828;
}

.color-1.text {
	color: #d50000;
}

/* pink */
.color-2 {
	background-color: #d81b60;
}

.color-2.dark {
	background-color: #c2185b;
}
.color-2.text {
	color: #c51162;
}

/* purple */
.color-3 {
	background-color: #9c27b0;
}
.color-3.dark {
	background-color: #7b1fa2;
}
color-3.text {
	color: #aa00ff;
}

/* deep-purple */
.color-4 {
	background-color: #5e35b1;
}
.color-4.dark {
	background-color: #4527a0;
}
color-4.text {
	color: #6200ea;
}

/* indigo */
.color-5 {
	background-color: #3949ab;
}
.color-5.dark {
	background-color: #283593;
}
.color-5.text {
	color: #304ffe;
}

/* blue */
.color-6 {
	background-color: #1e88e5;
}
.color-6.dark {
	background-color: #1565c0;
}
.color-6.text {
	color: #2962ff
}

/* light-blue */
.color-7 {
	background-color: #039be5;
}
.color-7.dark {
	background-color: #0277bd;
}
.color-7.text {
	color: #0091ea;
}

/* cyan */
.color-8 {
	background-color: #00acc1;
}
.color-8.dark {
	background-color: #00838f;
}
.color-8.text {
	color: #00b8d4;
}

/* teal */
.color-9 {
	background-color: #00897b;
}
.color-9.dark {
	background-color: #00695c;
}
.color-9.text {
	color: #00bfa5;
}

/* green */
.color-10 {
	background-color: #43a047;
}
.color-10.dark {
	background-color: #2e7d32;
}
.color-10.text {
	color: #00c853;
}

/* light-green */
.color-11 {
	background-color: #7cb342;
}
.color-11.dark {
	background-color: #558b2f;
}
.color-11.text {
	color: #64dd17;
}

/* lime */
.color-12 {
	background-color: #c0ca33;
}
.color-12.dark {
	background-color: #9e9d24;
}
.color-12.text {
	color: #aeea00;
}

/* yellow */
.color-13 {
	background-color: #fdd835;
}
.color-13.dark {
	background-color: #f9a825;
}
.color-13.text {
	color: #ffd600;
}

/* amber */
.color-14 {
	background-color: #ffb300;
}
.color-14.dark {
	background-color: #ff8f00;
}
.color-14.text {
	color: #ffab00;
}

/* orange */
.color-15 {
	background-color: #fb8c00;
}
.color-15.dark {
	background-color: #ef6c00;
}
.color-15.text {
	color: #ff6d00;
}

/* deep-orange */
.color-16 {
	background-color: #f4511e;
}
.color-16.dark {
	background-color: #d84315;
}
.color-16.text {
	color: #dd2c00;
}

/* brown */
.color-17 {
	background-color: #6d4c41;
}
.color-17.dark {
	background-color: #4e342e;
}
.color-17.text {
	color: #3e2723;
}

/* blue-grey */
.color-18 {
	background-color: #546e7a;
}
.color-18.dark {
	background-color: #37474f;
}
.color-18.text {
	color: #263238;
}