/* ########### SET VARS ########### */

$font-regular:  Helvetica ;
$font-bold:  Helvetica ;

$primary-text-color: rgba(0, 0, 0, 0.87);
$headline-text-color : #ffffff ;
$primary-border-color: #000000 ;

$color-hover: #263238 ;
$color-header: #37474f ;
$color-bg-light: #d5d5d5 ;
$color-bg-dark: #bdbdbd ;

$header-text-color: #ffffff ;
$button-text-color: #ffffff ;

$page-padding: 1em ;
$element-padding: 10px ;
$paragraph-padding: 0.3em ;
$card-padding: 20px;

$modal-overlay-color: rgba(0, 0, 0, 0.5);
$modal-bg-color: #bdbdbd ;

$color-picker-size: 3em;

/* ########### DEFINE CSS ###########*/
body {
	color: $primary-text-color;
}

h1 {
	padding-left:$element-padding;
	font-size: 130%;
	margin: 0;
}

h2 {
	font-size: 120%;
	color: $headline-text-color;
}

a.link {
	font-weight: bold;
	color: $primary-text-color;
}

.noscroll {
	overflow: hidden
}

/*
 * HEADER STYLES
 */
 
.header-wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: $page-padding;
	z-index: 100;
}

#header a {
	color: $header-text-color;
}

#header a.link {
	color: $header-text-color;
	font-weight: normal;
	text-size:110%;
}

#header .nav-wrapper {
	padding-left: $element-padding;
	padding-right: $element-padding;
	color: $header-text-color;
}

#header .side-nav {
	z-index: 1000;
}

#header .side-nav a {
	color: $header-text-color; 
	font-size:120%;
}

#header .side-nav li:hover {
	background-color: $color-hover;
}

#header i {
	color: $header-text-color;
}

/*
 * FOOTER STYLES
 */
 
#footer {
	padding: $page-padding $page-padding 0 $page-padding;
}

#footer .footer-bar {
	/*background-color: $header-bg-color;
	color: $header-text-color;
	border-top:1px solid #ddd;*/
	padding: $element-padding;
	text-align: center;
	line-height: 55px;
}

/*
 * SPINNER
 */
 
#spinner {
	position:fixed;
    top: 50%;
    width:100%;
   	display:none;
}

#spinner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 

/*
 * CONTENT STYLES
 */
 
#content {
	padding-left: $page-padding;
	padding-right: $page-padding;
}

/*
 * CARD STYLES
 */

.card {
	background-color: $color-bg-light;
}

.card a {
	color: $primary-text-color;
} 

.card .card-title {
}
 
.card-author {
	display:block;
	font-size:125%;
	font-style:italic;
	padding-top: $element-padding;
	padding-bottom: $element-padding;
}

.card p {
	padding: $paragraph-padding;
}

.card .card-content {
	padding: $card-padding;
}

.card .card-top {
	padding: $card-padding $card-padding $card-padding $card-padding;
	border-bottom: 1px solid;
  	border-color: rgba(0,0,0,0.1);
}

.card .card-bottom {
	background-color: $color-bg-dark;
	padding: $card-padding;
}

.card-bottom ul {
	margin: 0px;
}

.keywords {
	padding: $paragraph-padding;
}

.keywords.big {
	font-size:115%;
}

.keywords ul {
	padding-left: $element-padding;
}

.keywords ul li {
	padding: $paragraph-padding;
}

.indexlist ul {
	padding-left: $element-padding;
	margin: 0;
}

.indexlist ul li {
	padding: $paragraph-padding;
	text-transform: uppercase;
}

.link-cursor {
	cursor: pointer;
}

/*
 * FORM STYLES
 */
 
.input-field input, .input-field label, .input-field textarea {
	border-color: $primary-border-color;
	color: $primary-text-color;
}

input:focus, textarea:focus {
	border-color: $primary-border-color !important; 
	webkit-box-shadow: 0 1px 0 0 $primary-border-color !important;
	box-shadow: 0 1px 0 0 $primary-border-color !important;
}

.input-field label.active  {
	color: $primary-text-color !important; 
}

.input-field #filepath {
	display:block;
	text-align: right;
	height:3.5em;
	line-height:3.5em;
}

.input-field .btn {
	margin-left:$element-padding;
	margin-right:$element-padding;
}

/* placeholder texts */
::-webkit-input-placeholder
{ 
	color:rgba(0,0,0,0.4);
	font-size:90%
} 
/* webkit */
::-moz-placeholder { 
	color:rgba(0,0,0,0.4);
	font-size:90%
} /* firefox 19+ */
:-ms-input-placeholder { 
	color:rgba(0,0,0,0.4);
	font-size:90%
} /* ie */
input:-moz-placeholder { 
	color:rgba(0,0,0,0.4);
	font-size:90%
}

/*
 * Dropdown
 */
 
.dropdown-content li>a {
	color: $primary-text-color !important; 
}

/*
 * BUTTON STYLES
 */
 
.btn {
	background-color: $color-header;
}

a.btn {
	color: $button-text-color;
}

.btn:hover {
	background-color: $color-hover;
}

.icon {
	color: $primary-text-color;
}

/*
 * SETTINGS
 */
 
.settings.icon {
	height:36px;
	margin: $element-padding;
	opacity: 0.3;
	
}

@import '_modals';

@import '_colors';

@import '_settings';