<div class="card color-<%= topic_color %>">
	<a class="fill" href="#document/<%= id %>">
		<div class="card-content">
			<span class="card-title"><%= title %></span> 
			<span class="card-author"><%= author %></span>
			<p class="card-description"><%= description_short %></p>
			<p class="card-format">
				Entry Type: <%= entry_type %><br/>
				File Format: <%= format %>
			</p>
		</div>
	</a>
	<div class="card-content card-bottom keywords big color-<%= topic_color %> dark">
		<ul>
			<% _.each(keywords.split(" "), function(keyword){ %>
			<li><a class="link" href="#keyword/<%= keyword %>"><%= keyword.toUpperCase() %></a></li>
			<% }); %>
		</ul>
	</div>
</div>
