body {
	color: rgba(0, 0, 0, 0.87)
}

h1 {
	font-size: 120%;
}

/*
 * HEADER STYLES
 */
.header-wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 1em;
}

#header a {
	color: #fff3e0;
}

#header .nav-wrapper {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #e65100;
	color: #fff3e0;
}

#header .side-nav {
	background-color: #e65100;
}

#header .side-nav li:hover {
	background-color: #b42e03;
}

/*
 * FOOTER STYLES
 */
#footer {
	padding-left: 30px;
	padding-right: 30px;
}

#footer .footer-bar {
	/*background-color: #e65100;
	color: #fff3e0;*/
	padding: 10px;
	text-align: right;
}

/*
 * CONTENT STYLES
 */
#content {
	padding-left: 30px;
	padding-right: 30px;
}

/*
 * CARD STYLES
 */

.card {
	background-color: #ffb74d;
}

.card a {
	color: rgba(0, 0, 0, 0.87)
} 
 
 
.card-author {
	display:block;
	font-size:110%;
	font-style:italic;
	padding-top: 10px;
	padding-bottom: 10px;
}

.card p {
	padding:0.3em;
}

.card p a {
	font-weight: bold;
}

.card-bottom {
	/*border-top: 1px solid #000;*/
	background-color: #ffa726 ;
}

.card-bottom a {
	color: #000;
	font-weight: bold;
}

.card-bottom ul {
	margin: 0px;
}

/*
 * FORM STYLES
 */
 
.input-field input, .input-field label, .input-field textarea {
	border-color: #000;
	color: rgba(0, 0, 0, 0.87);
}

input:focus, textarea:focus {
	border-color: #000 !important; 
	webkit-box-shadow: 0 1px 0 0 #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
}

.input-field label.active  {
	color: rgba(0, 0, 0, 0.87) !important; 
}

.input-field #filepath {
	display:block;
	text-align: right;
	height:3.5em;
	line-height:3.5em;
}

.input-field .btn {
	margin-left:1em;
	margin-right:1em;
}