/* ########### SET VARS ########### */
/*
 * COLORS
 */
.color-main {
  background-color: #c0ca33; }

.color-main.darken {
  background-color: #9e9d24; }

/* red */
.color-0 {
  background-color: #e53935; }

.color-0.darken {
  background-color: #c62828; }

/* purple */
.color-1 {
  background-color: #5e35b1; }

.color-1.darken {
  background-color: #4527a0; }

/* blue */
.color-2 {
  background-color: #039be5; }

.color-2.darken {
  background-color: #0277bd; }

/* green */
.color-3 {
  background-color: #43a047; }

.color-3.darken {
  background-color: #2e7d32; }

/* yellow */
.color-4 {
  background-color: #fdd835; }

.color-4.darken {
  background-color: #f9a825; }

/* orange */
.color-5 {
  background-color: #f4511e; }

.color-5.darken {
  background-color: #d84315; }

/* ########### DEFINE CSS ###########*/
body {
  color: rgba(0, 0, 0, 0.87); }

h1 {
  padding-left: 10px;
  font-size: 130%;
  margin: 0; }

h2 {
  font-size: 120%; }

a.link {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87); }

/*
 * HEADER STYLES
 */
.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1em; }

#header a {
  color: #ffffff; }

#header a.link {
  color: #ffffff;
  font-weight: normal;
  text-size: 110%; }

#header .nav-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #465157;
  color: #ffffff; }

#header .side-nav {
  background-color: #465157; }

#header .side-nav a {
  color: #ffffff; }

#header .side-nav li:hover {
  background-color: #242A2D; }

#header i {
  color: #ffffff; }

/*
 * FOOTER STYLES
 */
#footer {
  padding: 1em; }

#footer .footer-bar {
  /*background-color: $header-bg-color;
  color: $header-text-color;
  border-top:1px solid #ddd;*/
  padding: 10px;
  text-align: center; }

/*
 * SPINNER
 */
#spinner {
  position: fixed;
  top: 50%;
  width: 100%;
  display: none; }

#spinner img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
 * CONTENT STYLES
 */
#content {
  padding-left: 1em;
  padding-right: 1em; }

/*
 * CARD STYLES
 */
.card a {
  color: rgba(0, 0, 0, 0.87); }

.card-top {
  padding: 10px; }

.card-author {
  display: block;
  font-size: 110%;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px; }

.card p {
  padding: 0.3em; }

.card-bottom ul {
  margin: 0px; }

.keywords {
  padding: 0.3em; }

.keywords ul {
  padding-left: 10px; }

.keywords ul li {
  padding: 0.3em; }

.indexlist ul {
  padding-left: 10px; }

.indexlist ul li {
  padding: 0.3em;
  text-transform: uppercase; }

/*
 * FORM STYLES
 */
.input-field input, .input-field label, .input-field textarea {
  border-color: #000000;
  color: rgba(0, 0, 0, 0.87); }

input:focus, textarea:focus {
  border-color: #000000 !important;
  webkit-box-shadow: 0 1px 0 0 #000000 !important;
  box-shadow: 0 1px 0 0 #000000 !important; }

.input-field label.active {
  color: rgba(0, 0, 0, 0.87) !important; }

.input-field #filepath {
  display: block;
  text-align: right;
  height: 3.5em;
  line-height: 3.5em; }

.input-field .btn {
  margin-left: 10px;
  margin-right: 10px; }

/*
 * Dropdown
 */
.dropdown-content li > a {
  color: rgba(0, 0, 0, 0.87) !important; }

/*
 * BUTTON STYLES
 */
.btn {
  background-color: #465157; }

a.btn {
  color: #ffffff; }

.btn:hover {
  background-color: #242A2D; }

/*
 * MODAL DIALOG
 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-dialog {
  position: relative;
  top: 20%;
  bottom: 20%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  padding: 10px;
  border-radius: 2px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.modal-dialog h2 {
  display: inline;
  padding: 10px;
  margin: 0; }

.modal-dialog p {
  padding: 10px;
  margin: 0; }

.modal-dialog.transition {
  -webkit-transition-duration: .2s;
  transition-duration: .2s; }

.modal-dialog.hidden {
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0);
  opacity: 0; }

.modal-dialog #done {
  text-align: center;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
