<div class="table">
	<span><a class="color-picker color-<%= topic_color %>" href="#!" id="colorButton"></a></span>
	<span class="name-input">
		<input id="topic_name" type="text" value="<%= topic_name %>">
	</span>
	<span><a href="#!" id="deleteButton"><i class="icon small mdi-action-delete"></i></a></span>
</div>


<!--  
<span class="topic-title">
	<input id="topic_name" type="text" value="<%= topic_name %>">
</span>
<a href="#!" id="colorButton"><span class="color-picker color-<%= topic_color %>"></span></a>
<span class="right"><a href="#!" id="deleteButton"><i class="icon small mdi-action-delete"></i></a></span>
-->